
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="~/AdminTema/template/index.html"><img src="~/logo-siyah.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="~/AdminTema/template/index.html"><img src="~/AdminTema/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">

        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/Widget/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/Chart/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-graphql"></i>
                </span>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/AdminMessage/Inbox/">
                <span class="menu-icon">
                    <i class="mdi mdi-inbox"></i>
                </span>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/AdminMessage/Sendbox/">
                <span class="menu-icon">
                    <i class="mdi mdi-send"></i>
                </span>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/Category/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-group"></i>
                </span>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/AdminBlog/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-blogger"></i>
                </span>
                <span class="menu-title">Bloglar</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/Writer/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-account-multiple"></i>
                </span>
                <span class="menu-title">Yazarlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/Comment/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-comment"></i>
                </span>
                <span class="menu-title">Yorumlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/Contact/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-contact-mail"></i>
                </span>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/About/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-book-open-variant"></i>
                </span>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/AdminRole/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-account-check"></i>
                </span>
                <span class="menu-title">Roller</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Admin/AdminRole/UserRoleList/">
                <span class="menu-icon">
                    <i class="mdi mdi-account-box-multiple"></i>
                </span>
                <span class="menu-title">Kullanıcılar ve Rolleri</span>
            </a>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" href="/Login/LogOut/">
                <span class="menu-icon">
                    <i class="mdi mdi-logout"></i>
                </span>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>
