
<link rel="shortcut icon" href="~/YazarTema/images/favicon.png" />
<link rel="stylesheet" href="~/YazarTema/vendors/ti-icons/css/themify-icons.css">
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEditProfile/">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Profilim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogListByWriter/">
                <i class="mdi mdi-library-books menu-icon"></i>
                <span class="menu-title">Bloglarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogAdd/">
                <i class="mdi mdi-creation menu-icon"></i>
                <span class="menu-title">Yeni Blog</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/InBox">
                <i class="mdi mdi-inbox menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>    
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/SendBox">
                <i class="mdi mdi-send menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Notification/AllNotification/">
                <i class="mdi mdi-bell menu-icon"></i>
                <span class="menu-title">Bildirimler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEditProfile/">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>
