<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4">Hakkımızda</h3>
                <p>Sakarya Üniversitesi Bilgisayar Mühendisliği 4. sınıf öğrencisiyiz. İki kişi bu siteyi geliştiriiyoruz. </p>
            </div>
            @await Component.InvokeAsync("BlogLast3Post")
            <div class="col-md-4 text-right">


                    <h3 class="footer-heading mb-4">Bizimle İletişime Geçin</h3>
                    <p>
                        <a href="~/VitrinTema/#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                        <a href="~/VitrinTema/#"><span class="icon-twitter p-2"></span></a>
                        <a href="~/VitrinTema/#"><span class="icon-instagram p-2"></span></a>
                        <a href="~/VitrinTema/#"><span class="icon-rss p-2"></span></a>
                        <a href="~/VitrinTema/#"><span class="icon-envelope p-2"></span></a>
                    </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> | Tüm Hakları Saklıdır. 
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>