
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Core Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/VitrinTema/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/VitrinTema/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/VitrinTema/css/magnific-popup.css">
    <link rel="stylesheet" href="~/VitrinTema/css/jquery-ui.css">
    <link rel="stylesheet" href="~/VitrinTema/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/VitrinTema/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/VitrinTema/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/VitrinTema/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/VitrinTema/css/aos.css">

    <link rel="stylesheet" href="~/VitrinTema/css/style.css">
</head>
<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        @await Html.PartialAsync("PartialNavbar")



        @RenderBody()

        
        
        @await Html.PartialAsync("PartialFooter")


    </div>

    <script src="~/VitrinTema/js/jquery-3.3.1.min.js"></script>
    <script src="~/VitrinTema/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/VitrinTema/js/jquery-ui.js"></script>
    <script src="~/VitrinTema/js/popper.min.js"></script>
    <script src="~/VitrinTema/js/bootstrap.min.js"></script>
    <script src="~/VitrinTema/js/owl.carousel.min.js"></script>
    <script src="~/VitrinTema/js/jquery.stellar.min.js"></script>
    <script src="~/VitrinTema/js/jquery.countdown.min.js"></script>
    <script src="~/VitrinTema/js/jquery.magnific-popup.min.js"></script>
    <script src="~/VitrinTema/js/bootstrap-datepicker.min.js"></script>
    <script src="~/VitrinTema/js/aos.js"></script>

    <script src="~/VitrinTema/js/main.js"></script>



</body>
</html>
